.gridContainer {
  width: 100%;
  max-width: 1000px;
  margin: 4px auto 10px 50px;
  align-content: center;
  color: #03045E;
  background-color: #ADE8F4;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.carrousel {
  width: 80%;
  height: 400px;
  background-color: black;
  color: white;
  margin: auto;
}
